#{@dungeon_entity.name}に入場した
フロア: #{@dungeon_entity.current_floor}/#{@dungeon_entity.max_floor}
探索率: #{@dungeon_entity.search_count}/100
=form_tag('/dungeon/search', method: "post") do
  \#{submit_tag("探索する")}
