%h2 アイテム一覧
- @user_items.each do |user_item|
  = user_item.item.name
  - if user_item.equipped == 1
    (装備中)
  \: #{user_item.count}
  = form_tag('/item/throw', method: 'post') do
    \#{hidden_field_tag(:user_item_id, user_item.id)}
    \#{submit_tag('捨てる')}
  %br/

%h2 使えるアイテム一覧
.item_consumption
  - @item_consumption_services.each do |item_consumption_service|
    = item_consumption_service.name
    = form_tag('/item/use', method: 'post') do
      \#{hidden_field_tag(:user_item_id, item_consumption_service.user_item_id)}
      \#{submit_tag('使用する')}
= link_to("トップへ", "/")
