%h2 アイテム一覧
- @item_entities.each do |item_entity|
  = item_entity.name
  - if item_entity.equipped?
    (装備中)
  \: #{item_entity.current_count}
  = form_tag('/item/throw', method: 'post') do
    \#{hidden_field_tag(:user_item_id, item_entity.user_item_id)}
    \#{submit_tag('捨てる')}
  %br/

%h2 使えるアイテム一覧
.item_consumption
  - @item_consumption_services.each do |item_consumption_service|
    = item_consumption_service.name
    = form_tag('/item/use', method: 'post') do
      \#{hidden_field_tag(:user_item_id, item_consumption_service.user_item_id)}
      \#{submit_tag('使用する')}
= link_to("トップへ", "/")
