%h2 クエスト受注したクエスト
.user-quest-list
  - @quest_entities.each do |quest_entity|
    .user-quest-record
      = quest_entity.name
      = quest_entity.status_name
      = quest_entity.progresses.join
      - if quest_entity.is_not_received_reward
        = form_tag('/quest/claim', method: 'post') do
          \#{hidden_field_tag(:user_quest_id, quest_entity.user_quest_id)}
          \#{submit_tag('報酬を受け取る')}
= link_to('戻る', root_path)
