.uk-width-medium-1-2.uk-container-center
  .uk-panel.uk-panel-box
    .uk-panel-title
      = fa_icon 'sign-in'
      編集

    .uk-nav-side
      .uk-nav-divider

    = form_for resource, as: resource_name, html: { class: 'uk-form uk-form-stacked' }, url: registration_path(resource_name) do |f|
      = devise_error_messages!
      .uk-form-row
        .uk-form-icon
          %i.uk-icon-envelope
          = f.text_field :email, autofocus: true, placeholder: 'メールアドレス', style: 'padding-left: 30px;'
        .uk-form-help-block#user-email-error
      .uk-form-row
        .uk-form-icon
          %i.uk-icon-key
          = f.password_field :current_password, autocomplete: 'off', placeholder: '現在のパスワード', style: 'padding-left: 30px;'
        .uk-form-help-block#user-password-error
      .uk-form-row
        .uk-form-icon
          %i.uk-icon-key
          = f.password_field :password, autocomplete: 'off', placeholder: '新しいパスワード', style: 'padding-left: 30px;'
        .uk-form-help-block#user-password-error
      .uk-form-row
        .uk-form-icon
          %i.uk-icon-key
          = f.password_field :password_confirmation, autocomplete: 'off', placeholder: '新しいパスワード(確認)', style: 'padding-left: 30px;'
        .uk-form-help-block#user-password-confirmation-error
      .uk-form-row
        .uk-button-group
          %button{:class => 'uk-button uk-button-primary', :type => "submit"}
            = fa_icon 'refresh'
            更新
          %a{:class => 'uk-button uk-button-danger', :onClick => 'history.back()'}
            = fa_icon 'arrow-left'
            戻る
