%h1
  = @character_service.name
%h1 今装備してるやつ
.equipment-status
  攻撃力
  = @equipped_list_entity.status.attack
.equipment-status
  防御力
  = @equipped_list_entity.status.defense
- @equipped_list_entity.list.each do |part|
  .equipped
    = part.part_name
    = part.name
    - if part.equipped
      .equipment_unequip
        = form_tag('/equipment/unequip', method: 'post') do
          \#{hidden_field_tag(:user_item_id, part.user_item_id)}
          \#{hidden_field_tag(:character_type, @character_service.type)}
          \#{hidden_field_tag(:character_id, @character_service.id)}
          \#{submit_tag("外す")}

%h1 装備可能やつ
- @equipment_entitys.each do |equipment_entity|
  = equipment_entity.name
  attack: #{equipment_entity.attack}
  defense: #{equipment_entity.defense}
  %br/
  = form_tag('/equipment/equip', method: "post") do
    \#{hidden_field_tag(:character_type, @character_service.type)}
    \#{hidden_field_tag(:character_id, @character_service.id)}
    \#{hidden_field_tag(:user_item_id, equipment_entity.user_item_id)}
    \#{submit_tag("装備する")}
= link_to("戻る", root_path)
