<h2> 施設 </h2>
<%= link_to("宿屋", "/inn") %> <br>
<% object[:establishment_list].each do |establishment| %>
    <li> <%= link_to(establishment.name, "/shop/"+ object[:area_node_id].to_s + "/" +establishment.id.to_s) %> </li>
<% end %>

<%= render "/view_objects/bulletin_board", records: object[:town_bulletin_boards] %>

<li> <%= link_to("マップのアイデア募集中","https://whiteboardfox.com/39787-8263-9186") %>
<li> <%= link_to("アイテムのアイデア募集中", "https://docs.google.com/spreadsheets/d/139dkqyr9fECqHWApSvVDajRffNniwwRqtZ1nrCWAp5k/edit#gid=0") %>
