<h2> 掲示板 </h2>

<%= link_to("宿屋", "/inn") %> <br>

<% object.each do |record| %>
    <li> <%= record.player.name %>: <%= record.contents %> at <%= record.created_at %> </li>
<% end %>

<%= form_tag('/towns/write/', method: "post") do %>
  <%= label_tag(:q, "書き込んでね") %> 
  <%= text_field :bbs, :contents %>
  <%= submit_tag("投稿") %>
<% end %>


<li> <%= link_to("マップのアイデア募集中","https://whiteboardfox.com/39787-8263-9186") %>
<li> <%= link_to("アイテムのアイデア募集中", "https://docs.google.com/spreadsheets/d/139dkqyr9fECqHWApSvVDajRffNniwwRqtZ1nrCWAp5k/edit#gid=0") %>
