.area-layout
  .area-left-layout
    %h1= @current.get_name()
    - if(@can_move_to_next)
      = render 'view_objects/target_routes', target_routes: @target_routes 
    / エリアのタイプによって出し分ける。
    = render @current.get_render_path(), object: @current.get_render_object()

    / 落ちてるアイテム
    %h2 ここに落ちてるアイテム
    - @thrown_items.each do |thrown_item|
      .area-thrown-item
        = thrown_item.item.name
        = thrown_item.count
        個
        = form_tag('/item/pickup', method: 'post') do
          \#{hidden_field_tag(:area_node_id, @area_node_id)}
          \#{hidden_field_tag(:item_id, thrown_item.item.id)}
          \#{submit_tag('拾う')}

    / アイテム一覧へ
    %h2 アイテム
    = link_to("所持品をみる", "/item")

    %h2 クエスト一覧
    = link_to('クエスト一覧', '/quest')

    %h2 ランキング
    = link_to("所持金ランキング", '/player/ranking_rails')
  .area-status
    = render "view_objects/status", status: @player_character
    - @soldier_characters.each do |soldier_character|
      = render 'view_objects/status', status: soldier_character
    = link_to('傭兵編成', '/soldier')

