%h1= @current.get_name()
= render "view_objects/status", status: @player_character
/ エリアのタイプによって出し分ける。
= render @current.get_render_path(), object: @current.get_render_object()
- if(@can_move_to_next)
  / 次いける部分表示する
  %h2 移動する(下から移動先を選んでね)
  - @target_routes.each do |target|
    %li
      = link_to(target.get_name(), "/areas/" + target.area_node.id().to_s() )

/ 落ちてるアイテム
%h2 ここに落ちてるアイテム
- @thrown_items.each do |thrown_item|
  .area-thrown-item
    = thrown_item.item.name
    = thrown_item.count
    個
    = form_tag('/item/pickup', method: 'post') do
      \#{hidden_field_tag(:area_node_id, @id)}
      \#{hidden_field_tag(:item_id, thrown_item.item.id)}
      \#{submit_tag('拾う')}

/ アイテム一覧へ
%h2 アイテム
= link_to("所持品をみる", "/item")

%h2 装備
= link_to("装備を整える", '/equipment')

%h2 クエスト一覧
= link_to('クエスト一覧', '/quest')

%h2 ランキング
= link_to("所持金ランキング", '/player/ranking_rails')

