%h1= @shop.name
%h2= @shop.description
- @showcases.each do |showcase|
  = form_tag('/shop/buy', method: "post") do
    #{showcase.name}
    一つ: #{showcase.cost} rails [在庫: #{showcase.resource_service.current_count}]
    \#{hidden_field_tag(:shop_id, @shop.id)}
    \#{hidden_field_tag(:resource_id, showcase.resource_service.id)}
    \#{hidden_field_tag(:area_node_id, showcase.area_node_id.to_s)}
    \#{submit_tag("購入する")}
    %br
    [説明]#{showcase.description}
    %br
    %br
%br
#h2 <余ってたら買うよ>
%br
.shop-user-item-sell
  - @user_items.each do |user_item|
    = form_tag('/item/sell', method: 'post') do
      = user_item.item.name
      今: #{user_item.count} 個
      一つ: #{user_item.item.sell_price} rais
      \#{hidden_field_tag(:shop_id, @shop.id)}
      \#{hidden_field_tag(:user_item_id, user_item.id)}
      \#{text_field(:shop, :item_count, value: 1)}
      \#{submit_tag('売りつける')}
= link_to("戻る", "/")
