%h2 仲間一覧
- @soldiers.each do |soldier|
  = soldier.name
  - if soldier.is_in_party
    = form_tag('/soldier/remove', method: "post") do
      \#{hidden_field_tag(:user_soldier_id, soldier.id)}
      \#{submit_tag("外す")}
  - else
    = form_tag('/soldier/add', method: "post") do
      \#{hidden_field_tag(:user_soldier_id, soldier.id)}
      \#{submit_tag("加える")}
= link_to('戻る', root_path)
