%h1 戦闘
- if(@result.is_draw)
  決着つかず。
  %li
    = link_to("1ターンだけ戦う", "/battle/" + @area_node_id.to_s + "/1")
  %li
    = link_to("決着がつくまで戦う", "/battle/" + @area_node_id.to_s)
  %li
    = link_to('逃げる(失敗すると戦闘突入)', "/battle/escape/#{@area_node_id.to_s}")
- else
  - if(@death_penalty.executed)
    バトルに負けた！
    %br/
    - @death_penalty.result_list.each do |result|
      = result
      %br/
    = link_to('戻る', root_path)
  - else
    .battle-end-result
      = @battle_end.result
    .battle-end-exp-result
      - @battle_end.given_exp_result.each do |exp_result|
        .battle-end-exp-result-row
          = exp_result[:name]
          %br/
          - if exp_result[:level_up]
            #{exp_result[:name]}はレベルが上がった。
            %br/
            次のレベルまで#{exp_result[:exp_for_next_level]}
          - else
            次のレベルまで#{exp_result[:exp_for_next_level]}
    .battle-end-item-list
      獲得アイテム 
      %br/
      - if @battle_end.item_list.count > 0
        - @battle_end.item_list.each do |drop_item|
          %li #{drop_item.name} x #{drop_item.count}
      - else
        なし
    - if @dungeon_entity && @dungeon_entity.is_entering_dungeon
      = render 'dungeon/actions', object: { dungeon_entity: @dungeon_entity, current_encounter: nil, area_node_id: nil }
    - else 
      = render 'view_objects/target_routes', target_routes: @target_routes, current: @current
%br/
- @result.turn_result_list.each do |turn_result|
  .battle-one-turn
    \========
    %br/
    ターン: #{turn_result.turn_count}
    %br/
    - turn_result.action_list.each do |action|
      = action.result
      %br/
    \--------
    %br/
    - if(turn_result.result_list)
      - turn_result.result_list.each do |result|
        = result
        %br/
      \--------
      %br/
    .battle-party-a
      - turn_result.party_a_status.each do |unit_status|
        = render "view_objects/battle/character", status:unit_status
    .battle-party-b
      - turn_result.party_b_status.each do |unit_status|
        = render "view_objects/battle/character", status:unit_status
