#body
  #box0.status
    #title ステータス表示
    #rows
      #column 名前
      #column
        = status.name
    #rows
      #column level
      #column
        = status.level
    #rows
      #column attack
      #column
        = status.attack
    #rows
      #column defense
      #column
        = status.defense
    #rows
      #column hit point
      #column
        = status.hp
        \/ #{status.hp_max}
        .battle-character-gauge-all
          .battle-character-gauge-current{:style => "width:#{status.hp_rate}px;"}
    #rows
      #column お金
      #column
        = status.rails
        rails
    #rows
      = link_to('装備整える', '/equipment/' + status.type.to_s + '/' + status.id.to_s)

