#body
  #box0.status
    #title ステータス表示
    #rows
      #column 名前
      #column
        = link_to(character.name, '/character/status/' + character.type.to_s + '/' + character.id.to_s)
    #rows
      #column level
      #column
        = character.level
    #rows
      #column attack
      #column
        = character.status.attack
    #rows
      #column defense
      #column
        = character.status.defense
    #rows
      #column hit point
      #column
        = character.hp
        \/ #{character.hp_max}
        .battle-character-gauge-all
          .battle-character-gauge-current{:style => "width:#{character.hp_rate}px;"}
    #rows
      #column お金
      #column
        = character.rails
        rails
    #rows
      = link_to('装備整える', '/equipment/' + character.type.to_s + '/' + character.id.to_s)

