<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'uk-form uk-form-stacked') do |f| %>
  <div class="uk-form-row">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="uk-form-row">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="uk-form-row">
      <label>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </label>
    </div>
  <% end -%>

  <div class="actions uk-form-row">
    <%= f.submit "Log in", class: 'uk-button uk-button-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
