!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Agrarian
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = analytics_init if Rails.env.production?
    - favicon_link_tag '/assets/favicon.ico'
  %body
    %nav.uk-navbar.uk-navbar-attached
      .uk-container.uk-container-center
        %ul.uk-navbar-nav
          %li
            - if user_signed_in?
              %li
                = link_with_icon 'プレイヤー情報', edit_user_registration_path, icon: 'pencil fw'
              %li
                = link_to 'ログアウト', destroy_user_session_path, method: :delete
            - else
              %li
                = link_with_icon 'サインアップ', new_user_registration_path, icon: 'play fw'
              %li
                = link_with_icon 'ログイン', new_user_session_path, icon: 'sign-in fw'
    .uk-container.uk-container-center
      - if notice
        .uk-panel.uk-panel-box.uk-panel-box-primary.notice= notice
      - if alert
        .uk-panel.uk-panel-box.uk-panel-box-danger.alert= alert
      = yield
  = render 'layouts/footer'
